.button-container[data-v-467c4601]{display:flex;justify-content:center;margin-top:20px}.bt[data-v-467c4601]{width:500px}.form-control[data-v-467c4601],.form-select[data-v-467c4601]{transition:all .2s}
